{% extends 'base_template.html' %}
{% load static %}
{% block page_content %}
        <h1>Add Pokemon</h1>
        <form method="POST">
            {% csrf_token %}
            Name: <input required type="text" minlength="2" maxlength="50" name="f1"><br>
            Type: <input required type="text" maxlength="50" name="f2"><br>
            Generation: <input required type="number" min="1" max="6" name="f3"><br>
            Legendary: <input type="checkbox" name="f4"><br>
            HP: <input required type="number" min="1" max="300" name="f5"><br>
            Attack: <input required type="number" min="1" max="300" name="f6"><br>
            Defense: <input required type="number" min="1" max="300" name="f7"><br>
            <input type="submit">
        </form>
{% endblock %}
